@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(18, 18, 18);
  color: rgba(255, 255, 255, 0.87);
  font-size: 1rem;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  text-rendering: optimizelegibility;
}

html {
  scroll-behavior: smooth;
}
h1 {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #DC2626 0%, #D1D5DB 46%, #F9FAFB 100%);

  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 1.4rem !important;
  background-color: #8e9ffa;
  background-image: linear-gradient(45deg, #DC2626 0%, #D1D5DB 10%, #F9FAFB 29%, #111827 100%);

  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

svg {
  color: #fafafa;
}

.patterns {
  /* background-image: url('./img/.png'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}